<strong>Olá, {{ name }}</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail {{ email }}.</p>
<p>Caso não tenha realizado esta solicitação, ignore esta mensagem.</p>

<p>Para realizar a recuperação de sua senha clique no link abaixo:</p>

<a href="{{ link }}">Alterar Senha</a>
