Olá, {{ name }}

Uma solicitação de recuperação de senha foi realizada para o e-mail {{ email }}.
Caso não tenha realizado esta solicitação, ignore esta mensagem.

Para realizar a recuperação de sua senha clique no link abaixo:

Alterar Senha
