<strong>Olá {{name}},</strong>

<p>Você esta recebendo esta notificação pois uma tarefa foi assinada para você.</p>

<p>Tarefa: {{title}}</p>

@if(hasAttachment)
  <p>Em anexo você encontra detalhes da tarefa.</p>
@endif
